$font: "Source Sans Pro";
$primary-yellow: #ffa837;
$primary-blue: #0369d7;
$primary-gray: #5d5c5d;
$secondry-gray-light: #818e9d;
$secondary-lucky-point: #1a236c;
$bg-alabaster: #f8f8f8;
$bg-deep-cove: #051745;